@import '~purecss/build/pure.css';
@import '~font-awesome/css/font-awesome.css';
@import './_SearchInput.scss';
@import './_TodoInput.scss';
@import './_TodoList.scss';

#root {
  margin: 0 auto;
  width: 625px;
}

.custom-restricted {
  height: auto;
  max-height: 525px;
  border: 1px solid #ccc;
  border-radius: 4px;
}