@import '~purecss/build/pure.css';
@import '~font-awesome/css/font-awesome.css';

#root {
  text-align: center;
  margin: 0 auto;
  width: 545px;
}

.custom-restricted {
  height: 520px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

ul.pure-menu-list li {
  border-bottom: 1px solid #ccc;
  display: flex;
}

ul.pure-menu-list li p {
  margin: 0;
  padding: 16px;
  text-align: left;
  flex-grow: 1;
  word-wrap: break-word;
  min-width: 0;
}

ul.pure-menu-list li p:hover {
  background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
}

form.pure-form {
  display: flex;
  margin-bottom: 5px;
}

form.pure-form input {
  flex-grow: 1;
  margin-right: 5px;
}

form.pure-form button.pure-button {
  padding: 0.5em 1.3em;
}

.button-white {
  background: white;
  border-left: 1px solid #ccc;
}

.button-success {
  color: #7bcdbe;
}

.button-error {
  color: #af5b5e;
}
